.Counter {
margin-left: auto;
margin-right: auto;
margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 250px;
    padding: 20px;
    border: 1px solid red;
}

.Counter_value {
    font-size: 20px;
    font-weight: 600;
    color: brown;
}

.Counter_controls {
    display: flex;
    gap: 20px;
}